<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SkipSetup</key>
    <array>
        <string>Location</string>
        <string>Restore</string>
        <string>SIMSetup</string>
        <string>Android</string>
        <string>AppleID</string>
        <string>IntendedUser</string>
        <string>TOS</string>
        <string>Siri</string>
        <string>ScreenTime</string>
        <string>Diagnostics</string>
        <string>SoftwareUpdate</string>
        <string>Passcode</string>
        <string>Biometric</string>
        <string>Payment</string>
        <string>Zoom</string>
        <string>DisplayTone</string>
        <string>MessagingActivationUsingPhoneNumber</string>
        <string>HomeButtonSensitivity</string>
        <string>CloudStorage</string>
        <string>ScreenSaver</string>
        <string>TapToSetup</string>
        <string>Keyboard</string>
        <string>PreferredLanguage</string>
        <string>SpokenLanguage</string>
        <string>WatchMigration</string>
        <string>OnBoarding</string>
        <string>TVProviderSignIn</string>
        <string>TVHomeScreenSync</string>
        <string>Privacy</string>
        <string>TVRoom</string>
        <string>iMessageAndFaceTime</string>
        <string>AppStore</string>
        <string>Safety</string>
        <string>Multitasking</string>
        <string>ActionButton</string>
        <string>TermsOfAddress</string>
        <string>AccessibilityAppearance</string>
        <string>Welcome</string>
        <string>Appearance</string>
        <string>RestoreCompleted</string>
        <string>UpdateCompleted</string>
        <string>WiFi</string>
        <string>Display</string>
        <string>Tone</string>
        <string>LanguageAndLocale</string>
        <string>TouchID</string>
        <string>TrueToneDisplay</string>
        <string>FileVault</string>
        <string>iCloudStorage</string>
        <string>iCloudDiagnostics</string>
        <string>Registration</string>
        <string>DeviceToDeviceMigration</string>
        <string>UnlockWithWatch</string>
        <string>Accessibility</string>
        <string>All</string>
        <string>ExpressLanguage</string>
        <string>Language</string>
        <string>N/A</string>
        <string>Region</string>
        <string>Avatar</string>
        <string>DeviceProtection</string>
        <string>Key</string>
        <string>LockdownMode</string>
        <string>Wallpaper</string>
        <string>PrivacySubtitle</string>
        <string>SecuritySubtitle</string>
        <string>DataSubtitle</string>
        <string>AppleIDSubtitle</string>
        <string>AppearanceSubtitle</string>
        <string>PreferredLang</string>
        <string>OnboardingSubtitle</string>
        <string>AppleTVSubtitle</string>
        <string>Intelligence</string>
        <string>WebContentFiltering</string>
        <string>CameraButton</string>
        <string>AdditionalPrivacySettings</string>
        <string>EnableLockdownMode</string>
        <string>OSShowcase</string>
        <string>SafetyAndHandling</string>
        <string>Tips</string>
        <string>AgeBasedSafetySettings</string>
    </array>
    <key>AllowPairing</key>
    <true/>
    <key>ConfigurationWasApplied</key>
    <true/>
    <key>CloudConfigurationUIComplete</key>
    <true/>
    <key>ConfigurationSource</key>
    <integer>0</integer>
    <key>PostSetupProfileWasInstalled</key>
    <true/>
    <key>IsSupervised</key>
    <false/>
</dict>
</plist>